@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');


body {
	background-color: #121212;
	font-family: "Oxygen Mono", sans-serif, serif;
	margin: 0;
	padding: 0;
}


header {
	text-align: center;
	color: #f2f2f2;
	font-size: 24px;
	margin-top: 20px;
}


.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}


.card {
	width: 40%;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 16px;
	box-shadow: 0px 0px 16px 10px #505050;
	text-align: center;
	padding: 10px;
	margin: 50px;
}


.card-title {
	font-weight: bold;
	font-size: 32px;
	color: #1a1a1a;
	cursor: pointer;
}


.dropdown {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}


.dropdown a {
	text-decoration: none;
}